/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.25;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}
